.addForm {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.inputForm {
  flex-grow: 1;
  min-height: 38px;
  font-size: 1rem;
  outline: none;
  margin-right: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.2rem;
}

button svg {
  outline: none;
  min-width: 42px;
  min-height: 32px;
  width: 42px;
  height: 32px;
  color: #a4907c;
  cursor: pointer;
}
button svg:hover,
button svg:focus {
  color: mediumblue;
}
